*{
	padding: 0;
	margin: 0;
}
h1{
font-family: 'Poppins', sans-serif;
text-align: center;
background-color: #fae8f7;
color: deeppink;
padding: 20px;
}
nav ul {
	background-color: #fae8f7;
	width: 100%;
	list-style: none;
	text-align: center;
}
nav li {
	display: inline-flex;
}
nav a {
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	color: deeppink;
	padding: 10px;
	width: 150px;
}
nav li:hover{
	background-color: white
}
.foto1 { 
	padding: 10px; 
	margin: 40px;
	width: 200px;
	height: 200px; 
	border-radius:50%;
    object-fit: cover;
	 }

.foto2 { 
	padding: 10px; 
	margin: 40px;
	width: 200px;
	height: 200px; 
	border-radius:50%;
	object-fit: cover;
 }
.foto3 { 
	padding: 10px; 
	margin: 40px;
	width: 200px;
	height: 200px; 
	border-radius:50%;
	object-fit: cover;

	 }
.foto4 { 
	padding: 10px; 
	margin: 40px;
	width: 200px;
	height: 200px; 
	border-radius:50%;
	object-fit: cover;

	 }
.foto5 { 
	padding: 10px; 
	margin: 40px;
	width: 200px;
	height: 200px; 
	border-radius:50%;
	object-fit: cover;
 }
 body {
	background-image: url(pintura.jpg);
	background-color: deeppink;
}
h2 {
	list-style: none;
	text-align: center;
	display: inline-flex;
	padding: 10px;
	width: 200px;
	margin: 45px;
	font-family: 'Poppins', sans-serif;
	color: deeppink;
}